body{
	background: #cef;
}
h1{
	color: #404;
	text-align: center;
	font-size: 50px;
}
h2{
	color: #000;
	text-align: center;
	font-size: 30px;
}
.knopka{
	text-align: center;
}
button{
	width: 200px;
	height: 40px;
	margin-top: 30px;
}
.txt{
	color: #000;
	font-size: 25px;
}
.image{
	text-align: center;
}
a{
	font-size: 19px;
}