body{
	background: #cef;
}
h1{
	color: #404;
	text-align: center;
	font-size: 50px;
}
h2{
	color: #000;
	text-align: center;
	font-size: 30px;
}
.knopka{
	text-align: center;
}
.knopka>a{
	text-decoration: none;
	color: #0c5d00;
	border: 2px solid #0c5d00;
	border-radius: 8px;
	padding: 4px 8px;
	cursor: pointer;
}
.knopka>a:hover{
	box-shadow: #000 1px 1px 2px;
}
button{
	width: 200px;
	height: 40px;
	margin-top: 30px;
}
.txt{
	color: #000;
	font-size: 25px;
}
.image{
	text-align: center;
}
a{
	font-size: 19px;
}